<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            html, body{padding: 0; margin: 0;}
            #header{
                width: 100%;
                height: 50px;
                background-color: #E0E0E0;
            }

            #content{
                padding: 30px;
            }

            #user_infos{
                float: left;
                text-align: center;
                padding: 5px 10px 5px 10px;
                height: 40px;
                background-color: #555555;
                color: white;

            }

            #lien_menu{
                float: left;
                text-align: center;
                font-weight: bold;
                padding: 15px 5px 5px 5px;
                height: 30px;
                width: 100px;
                background-color: #D0D0D0;
            }

            #lien_menu:hover{
                background-color: #555555;
                cursor: pointer;
                color: white;
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            <div id="user_infos">
                <b>{{app.user.username}}</b>
                <input type="button" onclick="location.href = '{{ path('logout') }}';" value="Logout"/> <br/>
                {% for role in app.user.roles %}{{ role.libelle }} {% endfor %}
            </div>
            <div id="lien_menu" onclick="location.href = '{{ path('theme_index') }}';">THEMES</div>
            <div id="lien_menu" onclick="location.href = '{{ path('article_index') }}';">ARTICLES</div>
            <div id="lien_menu" onclick="location.href = '{{ path('user_index') }}';">USERS</div>
        </div>

        <div id="content">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
