{% extends 'base.html.twig' %}

{% block body %}
    <h1>Signalementart</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signalementArt.id }}</td>
            </tr>
            <tr>
                <th>Creationdt</th>
                <td>{% if signalementArt.creationdt %}{{ signalementArt.creationdt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('signalementart_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('signalementart_edit', { 'id': signalementArt.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
